<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Deine Gerichte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deine Gerichte</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="mealService.isEmpty()" class="ion-padding">
    <img src="assets/penne.png" class="empty-bg" alt="pasta-farfalle" />
    <h3>Noch keine Gerichte erstellt.</h3>
  </div>
  <ion-list>
    <ng-container *ngFor="let meal of mealService.getAll()">
      <ion-item [routerLink]="meal.id.toString()">
        <ion-label>{{ meal.name }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <div class="ion-text-center ion-margin-vertical">
    <ion-button [routerLink]="'create'">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      Hinzufügen
    </ion-button>
  </div>
</ion-content>
