<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deine Einkaufsliste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deine Einkaufsliste</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main">
    <h3>Noch kein Plan erstellt.</h3>
    <img
      src="assets/ravioli.png"
      class="empty-bg"
      alt="pasta-farfalle"
    />
  </div>

</ion-content>
