<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dein Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dein Plan</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding" *ngIf="planService.isEmpty$() | async">
    <img src="assets/farfalle.png" class="empty-bg" alt="pasta-farfalle" />
    <h3 *ngIf="mealService.isEmpty()">
      Legen sie Gerichte an um einen Plan zu erstellen.
    </h3>
    <h3>Noch kein Plan erstellt.</h3>
  </div>

  <div class="plan-wrapper">
    <ng-container *ngFor="let suggestion of planService.get$() | async">
      <plan-item [suggestion]="suggestion"></plan-item>
    </ng-container>
  </div>
  <div class="ion-text-center">
    <ion-button (click)="generate()">
      <ion-icon name="sync-outline" slot="start"></ion-icon>
      Erstellen
    </ion-button>
  </div>
</ion-content>
