<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dein Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dein Plan</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main">
    <ng-container *ngIf="mealService.isEmpty()">
      <h3>Legen sie Gerichte an um einen Plan zu erstellen.</h3>
    </ng-container>

    <ng-container *ngIf="planService.isEmpty$() | async">
      <h3>Noch kein Plan erstellt.</h3>
      <img src="assets/farfalle.png" class="empty-bg" alt="pasta-farfalle" />
    </ng-container>

    <div class="plan-wrapper">
      <ng-container *ngFor="let suggestion of planService.get$() | async">
        <plan-item [suggestion]="suggestion"></plan-item>
      </ng-container>
    </div>

    <ion-button (click)="generate()">
      <ion-icon name="sync-outline" slot="start"></ion-icon>
      Generate
    </ion-button>
  </div>
</ion-content>
