<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="plan">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meal">
      <ion-icon aria-hidden="true" name="pizza-outline"></ion-icon>
      <ion-label>Gerichte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buy">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Einkaufen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
