<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="mealDraft.id">
      <ion-button (click)="onDelete()">Delete</ion-button>
    </ion-buttons>
    <ion-title>{{ mealDraft.name || "Create Meal" }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        label="Name"
        placeholder="Enter company name"
        [value]="mealDraft.name"
        (ionChange)="onNameChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        label="Schwierigkeit"
        justify="start"
        interface="popover"
        placeholder="Wähle aus"
        [value]="mealDraft.difficulty"
        (ionChange)="onDifficultyChange($event)"
      >
        <ion-select-option value="easy">Einfach</ion-select-option>
        <ion-select-option value="hard">Aufwändig</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div
    class="ion-text-center ion-margin-vertical"
    *ngIf="!mealDraft.id"
    (click)="onCreate()"
  >
    <ion-button> Erstellen</ion-button>
  </div>
</ion-content>
